* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "BlackJack";
  src: url(../font/BLACKJAR.TTF);
}

/*  
        VIDEO + LOGO  
                        */
.section-video {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.section-video img {
  text-align: center;
  opacity: 1;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  object-position: center;
  object-fit: cover;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #485922;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
}

/* 
        Header 
                */

.header {
  text-align: center;
  background: #485922;
  margin-top: auto;
  z-index: 10;
}

.header_menu {
  width: 100%;
  padding: 20px;
  position: relative;
  top: 0;
  background: #485922;
}

.header_menu ul li {
  display: inline-block;
  padding: 10px 40px;
}

.header_menu ul li a {
  color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/* 
        Introdução 
                    */
.introducao {
  max-width: 100%;
  max-height: 480px;
  min-width: 100%;
  min-height: 480px;
  width: auto;
  height: auto;
  background: url(../img/bg-intro.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 120px;
}

.introducao h1 {
  font-size: 56px;
  font-weight: bold;
  text-transform: none;
  color: #242614;
  margin: 0 auto;
  font-family: "BlackJack";
}

.introducao p {
  font-style: italic;
  max-width: 175px;
  margin: 0 auto 60px auto;
  color: #242614;
  font-size: 18px;
  letter-spacing: 0.1em;
}

.introducao p::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  border: 2px solid;
  margin: 15px auto 15px auto;
}

.introducao p::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  border: 2px solid;
  margin: 15px auto 60px auto;
  color: #242614;
}

/* 
        Button 
                */
.btn {
  border: 3px solid #242614;
  border-radius: 6px;
  width: 60px;
  height: 60px;
  color: #242614;
  padding: 10px 36px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.btn:hover {
  color: #f2f2f2;
  background: #242614;
  border-color: #242614;
}

.btn2 {
  border: 3px solid #242614;
  border-radius: 6px;
  width: 60px;
  height: 60px;
  color: #242614;
  padding: 10px 30px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.btn2:hover {
  color: #f2f2f2;
  background: #242614;
  border-color: #242614;
}

/* 
        Subtitulo 
                    */
.subtitulo {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 40px 0 10px 0;
  font-family: "BlackJack";
  color: #242614;
}

.subtitulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #242614;
  margin: 15px auto;
}

/* 
        Produtos
                     */
.produtos_lista li {
  background: #b4bf5e;
  text-align: center;
}

.produtos_lista li div img {
  margin: 0 auto;
}

.produtos_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 10px;
  color: #242614;
}

.produtos_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #242614;
  margin: 2px auto;
}

.produtos_lista li p {
  padding: 10px 20px 20px 20px;
}

.produto_icone {
  background: #485922;
  padding: 20px;
}

.call-to-action {
  text-align: center;
  clear: both;
  padding: 30px 30px 40px 30px;
}

.call-to-action p {
  margin: 20px;
}

/*  
        PORTIFOLIO
                     */
.portfolio {
  width: 100%;
  background: #485922;
  margin-bottom: 40px;
}

.portfolio .subtitulo {
  color: #f2f2f2;
}

.portfolio .subtitulo:after {
  background: #f2f2f2;
}

.portfolio-lista li:last-child {
  margin-top: 15px;
}

.portfolio .btn {
  color: #f2f2f2;
  border-color: #f2f2f2;
}

.portfolio p {
  color: #f2f2f2;
}

/* Qualidades */

.qualidade .subtitulo {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 0px 0 25px 0;
  font-family: "BlackJack";
  color: #242614;
}

.qualidade img {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: blue;
}

.qualidade_lista {
  padding-top: 20px;
  overflow: auto; /* clear-fix */
}

.qualidade_lista li {
  padding: 20px 40px;
  text-align: center;
}

.qualidade_lista li h3 {
  font-size: 30px;
  font-family: "BlackJack";
  font-weight: bold;
  padding: 15px 0 10px 0;
  text-align: center;
}

.qualidade_lista img {
  width: 15%;
  height: 15%;
}

.qualidade .call-to-action {
  padding: 0 0 60px 0;
}

/* QUEBRA-LINHA */
.quebra {
  width: 100%;
  height: 220px;
  background: url(/img/quebra3.jpg) repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 35px;
}

.quebra .quote-externo {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  font-style: italic;
  color: #f1f1f1;
  font-size: 18px;
  letter-spacing: 0.1em;
}

.quote-externo p::before,
.quote-externo p::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  border: 2px solid;
  margin: 15px auto 10px auto;
}

/* .quote-externo p::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  border: 2px solid;
  margin: 15px auto 60px auto;
  color: #f1f1f1;
} */

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* FOOTER */
.footer {
  width: 100%;
  background: #b4bf5e;
  color: #485922;
  padding: 20px 0;
}

.footer h3 {
  font-size: 28px;
  line-height: 25px;
  color: #485922;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: "BlackJack";
}

.footer h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #485922;
}

.footer-historia {
  padding-right: 40px;
}

.footer-historia p {
  font-size: 16px;
  line-height: 20px;
  color: #485922;
  padding-top: 5px;
}

.footer-contato ul li {
  font-size: 16px;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer-contato ul li a {
  color: #485922;
  text-decoration: none; /* no underline */
}

.footer-contato ul li a:hover {
  color: #f2f2f2;
}

.footer-redes ul li {
  display: inline-block;
}

.footer-redes ul li a {
  border: 3px solid white;
}
